main {
    display: flex;
}

main > * {
    min-width: 0;
}

aside {
    flex-grow: 1;
}

article {
    flex-grow: 3;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        padding: 1rem;
    }
}