/* STYLING */
:root {
    --color1: rgb(171, 160, 221);
    --color2: rgb(201, 155, 201);
    --color3: rgb(245, 178, 219);
    --color4: rgb(221, 215, 160);

}

* {
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1rem;
    margin: 0;
    min-height: 100vh;
    
}

body * {
    min-width: 0;
}

header section, article, footer {
    padding: 2rem 1rem;
    border: 2px solid black;
    
}


header section {
    background-color: var(--color2);
}

article {
    background-color: var(--color3);
}

footer {
    background-color: var(--color4);
}

/*       ----        */

body {
    display: grid;
    grid-template-rows: min-content auto min-content;
    gap: 1rem;
    
}

header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

main {
    display: flex;
    gap: 1rem;
}
main > * {
    flex: 1;
}

@media screen and (max-width: 600px) {
    header {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    main {
        flex-direction: column;
    }
    
}
