body {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

header,
main {
    display: flex;
    gap: 1rem;
}

header section,
main article {
    flex-grow: 1;
}

main {
    height: 100%;
}

@media screen and (max-width: 600px) {
    header {
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    header section {
        flex-grow: 0;
        
        width: calc(50% - 0.25rem);

    }

    main {
        flex-direction: column;
    }
}