body {
    display: grid;
    grid-template-rows: min-content auto min-content;
    gap: 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

header section {
    border-radius: 6rem;
}
header .img {
    width: 6rem;
    height: 6rem;
    text-align: center;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

main {
    margin: 5rem;
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 1rem;
}

main article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

main aside {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (max-width: 600px) {
    header .img {
        justify-self: center;
    }
    header nav {
        grid-template-columns: 1fr;
    }

    section {
        font-size: 1rem;
        padding: 1rem;
    }

    main {
        grid-template-columns: 1fr;
        margin: 0;
    }

    main article {
        grid-template-columns: 1fr;   
    }
    main aside {
        grid-template-columns: 1fr 1fr 1fr;   
    }
    
}